Repository boostcampwm-2021/web05-playground, pull requests merged in 2021-12, with the labels that each got.

#72 [Sprint 5] 캐릭터 모션추가, 채팅누적 및 보내는 target 표시, 유저리스트 및 건물 안밖 구별 #62 #63
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/AllUser/index.tsx
  frontend/src/components/Modal/BuildingInfo/index.tsx
  frontend/src/components/Modal/Chat/ChatList/index.tsx
  frontend/src/components/Modal/Chat/MessageInput/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/NavigationBar/Menu/index.tsx
  frontend/src/components/NavigationBar/UserLog/index.tsx
  frontend/src/components/SetBuildingModal/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/allUserListState.tsx
  frontend/src/store/userState.tsx
  frontend/src/utils/model.ts
  worker-server/src/database/entities/Building.ts
  worker-server/src/database/entities/User.ts
  worker-server/src/database/service/user.service.ts
  worker-server/src/socket/socket.ts
Labels: bug, enhancement, frontend, backend, fix, refactoring

#73 [Sprint 5] 네비게이션 바 수정, 나가는 로직 구현, 카메라 로직 수정, 건물 짓는 로직 수정
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/components/NavigationBar/Exit/index.tsx
  frontend/src/components/NavigationBar/Menu/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/components/Video/index.tsx
  worker-server/src/socket/socket.ts
Labels: frontend, backend, review, feature, fix, refactoring

#74 [Sprint 5] 로딩, 에러페이지 삽입 및 필요없는 import, 주석 제거
  frontend/package.json
  frontend/public/assets/sad.png
  frontend/src/App.tsx
  frontend/src/components/SelectWorld/index.tsx
  frontend/src/pages/Error/index.tsx
  frontend/src/pages/Loading/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/Setting/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/yarn.lock
Labels: frontend, review, refactoring

#75 [Sprint 5] 채팅 엔터 시 발생하는 이슈, 월드 진입 시 아이템(건물, 오브젝트)들이 바로 display 안되는 이슈해결
  frontend/package.json
  frontend/src/components/Building/index.tsx
  frontend/src/components/Modal/Chat/MessageInput/index.tsx
Labels: bug, fix

#76 [Sprint 5] apollo fetch-policy 및 cache 전략 적용
  frontend/src/components/SetWorldModal/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/Setting/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/utils/query.ts
Labels: enhancement, refactoring

#77 [Sprint 5] 로그인 후 월드 선택 페이지 진입 시 발생한 이슈 해결
  frontend/src/pages/SelectWorld/index.tsx
Labels: bug, frontend

#78 [Sprint 5] World 페이지의 하위 컴포넌트들 React.memo 적용
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/components/SetBuildingModal/index.tsx
  frontend/src/components/SetObjectModal/index.tsx
  frontend/src/pages/World/index.tsx
Labels: frontend, refactoring

#79 [Sprint 5] 캐릭터 빌딩 입출입 시 위치 조정, 모달창 입력 완료 시 값들 초기화 적용
  frontend/public/favicon.ico
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/BuildingInfo/index.tsx
  frontend/src/components/SetBuildingModal/index.tsx
  frontend/src/components/SetObjectModal/index.tsx
Labels: bug, frontend, fix

#80 [Sprint 5] 전반적인 refactoring 수행 및 스타일 조정
  frontend/public/assets/github.png
  frontend/public/index.html
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/Chat/ChatList/index.tsx
  frontend/src/components/SelectCharacter/index.tsx
  frontend/src/components/SelectWorld/index.tsx
  frontend/src/components/SetObjectModal/index.tsx
  frontend/src/components/Video/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/Setting/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/query.ts
  master-server/src/Server.ts
  master-server/src/graphql/resolver/userResolver.ts
  master-server/src/graphql/resolver/worldResolver.ts
  master-server/src/index.ts
  master-server/src/routes/index.ts
  master-server/src/shared/constants.ts
  worker-server/src/database/service/user.service.ts
  worker-server/src/index.ts
  worker-server/src/shared/constants.ts
  worker-server/src/socket/socket.ts
  worker-server/src/socket/socket.user.ts
Labels: frontend, backend, review, refactoring

#81 [Sprint 5] 에러 페이지 수정 및 세팅 페이지 캐시 정책 적용
  frontend/src/App.tsx
  frontend/src/pages/Setting/index.tsx
Labels: frontend, fix, refactoring

#82 [Sprint 5] 카메라, 마이크 안꺼지던 오류 해결
  frontend/src/components/Video/index.tsx
  worker-server/src/socket/socket.ts
Labels: bug, frontend, backend, review, feature, fix

#83 [Sprint 5] 배경 그리는 로직 수정 및 개선
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/map-files/building-inside.json
  frontend/src/map-files/world-park.json
  frontend/src/map-files/world-winter.json
  frontend/src/utils/model.ts
  package.json
  yarn.lock
Labels: enhancement, frontend, review, refactoring

#84 [Sprint 5] 카메라, 비디오 온오프 로직 수정, 월드 생성 시 이름 제한
  frontend/src/components/SetWorldModal/index.tsx
  frontend/src/components/Video/index.tsx
  worker-server/src/socket/socket.ts
Labels: frontend, backend, feature, fix

#85 [Sprint 5] 카메라, 비디오 온오프 로직 수정
  frontend/src/components/Video/index.tsx
Labels: bug, fix

#86 [Sprint 5] 회원 가입 시 캐릭터 url 수정
  master-server/src/database/service/user.service.ts
Labels: bug, backend, fix

#87 [Sprint 5] offscreencanvas 패키지 설치
  frontend/package.json
  frontend/yarn.lock
Labels: bug, fix

#88 [Sprint 5] 절대경로에서 상대경로로 변경
  master-server/build.ts
  master-server/src/graphql/resolver/buildingResolver.ts
  master-server/src/graphql/resolver/characterResolver.ts
  master-server/src/graphql/resolver/fileResolver.ts
  master-server/src/graphql/resolver/objectResolver.ts
  master-server/src/graphql/resolver/userResolver.ts
  master-server/src/graphql/resolver/worldResolver.ts
  master-server/src/shared/db.receiver.ts
  worker-server/src/shared/db.receiver.ts
  worker-server/src/socket/socket.ts
Labels: backend, fix
