Repository boostcampwm-2021/web05-playground, pull requests merged in 2021-11, with the labels that each got.

#14 [Sprint 1] 프론트 apollo-client 설정 #12
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ExchangeRates/index.tsx
  frontend/yarn.lock
Labels: frontend, setting

#15 [Sprint 1] 백엔드 아폴로 서버 설치 및 WorldList api 구현 #8
  .gitignore
  backend/package.json
  backend/src/Server.ts
  backend/src/database/entities/World.ts
  backend/src/database/service/world.service.ts
  backend/src/entities/User.ts
  backend/src/entities/World.ts
  backend/src/graphql/resolver/resolverMap.ts
  backend/src/graphql/schema.ts
  backend/src/graphql/schema/query.graphql
  backend/src/pre-start/env/development.env
  backend/src/pre-start/env/production.env
  backend/src/pre-start/env/test.env
  backend/yarn.lock
Labels: backend, feature

#16 [Sprint1] 월드 선택 페이지 개발 #7
  frontend/package.json
  frontend/public/assets/logo.png
  frontend/public/assets/nextbtn.png
  frontend/public/assets/prevbtn.png
  frontend/public/assets/world1.png
  frontend/public/assets/world2.png
  frontend/public/assets/world3.png
  frontend/public/assets/world4.png
  frontend/src/App.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/yarn.lock
Labels: frontend, feature, setting

#17 [Sprint 1] 로그인 페이지 개발 #6
  frontend/src/App.tsx
  frontend/src/assets/mainBackground.png
  frontend/src/assets/mainTitle.png
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
Labels: frontend, feature

#18 [Sprint 1] 월드 페이지 구현 #9
  frontend/public/assets/world-park.png
  frontend/public/assets/world-winter.png
  frontend/src/App.tsx
  frontend/src/components/WorldMap/index.tsx
  frontend/src/map-files/world-park.json
  frontend/src/map-files/world-winter.json
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/currentWorldState.tsx
Labels: frontend, review, feature, fix

#19 [Sprint 1] 유저 월드 진입 로직 구현 및 object api 개발 #10 #11
  README.md
  backend/package.json
  backend/src/Server.ts
  backend/src/database/entities/Object.ts
  backend/src/database/entities/User.ts
  backend/src/database/entities/World.ts
  backend/src/database/service/object.service.ts
  backend/src/database/service/user.service.ts
  backend/src/database/service/world.service.ts
  backend/src/entities/World.ts
  backend/src/graphql/resolver/objectResolver.ts
  backend/src/graphql/resolver/resolverMap.ts
  backend/src/graphql/resolver/worldResolver.ts
  backend/src/graphql/schema.ts
  backend/src/graphql/schema/object.graphql
  backend/src/graphql/schema/query.graphql
  backend/src/graphql/schema/world.graphql
  backend/src/shared/constants.ts
  backend/src/shared/db.receiver.ts
  backend/src/socket/socket.ts
  backend/src/socket/socket.user.ts
  backend/yarn.lock
Labels: backend, review, feature

#29 [Sprint2] 프론트엔드 코드 리팩토링 진행 #28
  frontend/.prettierrc.json
  frontend/src/App.tsx
  frontend/src/components/ExchangeRates/index.tsx
  frontend/src/components/SelectWorld/index.tsx
  frontend/src/components/WorldMap/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/utils/hooks/useSlide.ts
  frontend/src/utils/model.ts
  frontend/src/utils/query.ts
Labels: frontend, setting, refactoring

#30 [Sprint 2] 네비게이션 바 생성 및 공용 모달창 구현 #20
  frontend/public/assets/buildBuilding.png
  frontend/public/assets/buildObject.png
  frontend/public/assets/chat.png
  frontend/public/assets/fileUpload.png
  frontend/public/assets/logout.png
  frontend/public/assets/navLogo.png
  frontend/public/assets/setting.png
  frontend/public/assets/users.png
  frontend/public/assets/voiceChat.png
  frontend/src/components/Modal/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/currentModalState.tsx
Labels: frontend, review, feature, setting

#35 [Sprint 2] 건물 빌드 로직 구현 #20 #21 #22 #23 #34
  .gitmessage.txt
  backend/src/database/connection.ts
  backend/src/database/entities/Building.ts
  backend/src/database/service/building.service.ts
  backend/src/database/service/object.service.ts
  backend/src/database/service/user.service.ts
  backend/src/database/service/world.service.ts
  backend/src/graphql/resolver/buildingResolver.ts
  backend/src/graphql/schema.ts
  backend/src/graphql/schema/building.ts
  backend/src/graphql/schema/object.graphql
  backend/src/graphql/schema/queries.ts
  backend/src/graphql/schema/world.graphql
  backend/src/graphql/schema/world.ts
  backend/src/routes/index.ts
  backend/src/shared/constants.ts
  backend/src/shared/db.receiver.ts
  backend/src/socket/socket.building.ts
  backend/src/socket/socket.ts
  frontend/package.json
  frontend/public/assets/home.png
  frontend/src/components/Building/index.tsx
  frontend/src/components/Modal/BuildBuilding/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/components/SetBuildingModal/index.tsx
  frontend/src/components/WorldMap/index.tsx
  frontend/src/map-files/world-park.json
  frontend/src/pages/World/index.tsx
  frontend/src/reset.css
  frontend/src/socket/socket.ts
  frontend/src/store/buildBuildingState.tsx
  frontend/src/store/socketClientState.tsx
  frontend/src/utils/model.ts
  frontend/src/utils/query.ts
  frontend/yarn.lock
Labels: frontend, backend, feature, refactoring

#37 [Sprint 2] 월드 진입 시 건물들의 리스트를 받아와 건물 선택 모달창에 그려주는 로직 구현 #36
  backend/src/database/entities/Url.ts
  backend/src/database/service/building.service.ts
  backend/src/graphql/resolver/buildingResolver.ts
  backend/src/graphql/schema/building.ts
  backend/src/graphql/schema/queries.ts
  backend/src/shared/constants.ts
  backend/src/shared/db.receiver.ts
  frontend/src/components/Building/index.tsx
  frontend/src/components/Modal/BuildBuilding/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/buildingUrlState.tsx
  frontend/src/utils/hooks/useSlide.ts
  frontend/src/utils/query.ts
Labels: frontend, backend, review, feature

#38 [Sprint 2] 캐릭터 이동 및 다중 캐릭터 이동 구현 #32 #33
  backend/src/database/service/building.service.ts
  backend/src/database/service/user.service.ts
  backend/src/socket/socket.ts
  backend/src/socket/socket.user.ts
  frontend/public/assets/character1.png
  frontend/public/assets/character2.png
  frontend/public/assets/character3.png
  frontend/src/components/Building/index.tsx
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/components/WorldMap/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/userState.tsx
Labels: frontend, backend, feature

#49 [Sprint 3] 건물 관련 렌더링 및 빌드 로직 이슈 해결
  frontend/src/components/Building/index.tsx
  frontend/src/components/Character/index.tsx
Labels: fix

#53 [Sprint 3] 화상 채팅 기능 구현, 백엔드 화상 공유 로직 구현 #44 #45
  frontend/public/assets/voiceChatOff.png
  frontend/src/components/BuildingInside/index.tsx
  frontend/src/components/NavigationBar/Exit/index.tsx
  frontend/src/components/NavigationBar/Menu/index.tsx
  frontend/src/components/NavigationBar/UserLog/index.tsx
  frontend/src/components/NavigationBar/index.tsx
  frontend/src/components/Video/index.tsx
  frontend/src/components/Video/otherVideo/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/deviceState.tsx
  worker-server/src/socket/socket.ts
Labels: bug, frontend, backend, review, feature, setting, fix, refactoring

#66 [Sprint 3] 컴포넌트 재사용을 위한 리팩토링과 이에 따른 백엔드 로직 수정
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/components/BuildingInfo/index.tsx
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/BuildBuilding/index.tsx
  frontend/src/components/Modal/BuildObject/index.tsx
  frontend/src/components/SetBuildingModal/index.tsx
  frontend/src/components/SetObjectModal/index.tsx
  frontend/src/components/Video/index.tsx
  frontend/src/components/Video/otherVideo/index.tsx
  frontend/src/components/WorldMap/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/store/buildBuildingState.tsx
  frontend/src/store/buildObjectState.tsx
  frontend/src/utils/model.ts
  frontend/src/utils/variables/buildingData.ts
  worker-server/src/database/service/building.service.ts
  worker-server/src/socket/socket.ts
Labels: frontend, backend, review, fix, refactoring

#68 [Sprint 4] 빌딩 탈출 로직, 월드 생성 로직, oauth를 활용한 로그인 로직 구현, 파일 업로드 기능 구현 #54 #55 #56 #57 #58 #59 #64 #65
  frontend/package.json
  frontend/src/components/Background/index.tsx
  frontend/src/components/Building/index.tsx
  frontend/src/components/Character/index.tsx
  frontend/src/components/Modal/BuildingInfo/index.tsx
  frontend/src/components/Modal/ObjectInfo/index.tsx
  frontend/src/components/SelectCharacter/index.tsx
  frontend/src/components/SelectWorld/index.tsx
  frontend/src/components/SetObjectModal/index.tsx
  frontend/src/components/SetWorldModal/index.tsx
  frontend/src/components/Video/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/SelectWorld/index.tsx
  frontend/src/pages/World/index.tsx
  frontend/src/socket/socket.ts
  frontend/src/store/objectInfoState.tsx
  frontend/src/utils/model.ts
  frontend/src/utils/query.ts
  frontend/src/utils/variables/buildingData.ts
  frontend/yarn.lock
  master-server/package-lock.json
  master-server/package.json
  master-server/src/database/entities/User.ts
  master-server/src/database/service/user.service.ts
  master-server/src/database/service/world.service.ts
  master-server/src/graphql/resolver/fileResolver.ts
  master-server/src/graphql/resolver/userResolver.ts
  master-server/src/graphql/resolver/worldResolver.ts
  master-server/src/graphql/schema.ts
  master-server/src/graphql/schema/queries.ts
  master-server/src/graphql/schema/user.ts
  master-server/src/objectStorage/s3.ts
  master-server/src/shared/db.receiver.ts
  master-server/yarn.lock
  package.json
  start.sh
  worker-server/docker-compose.yml
  worker-server/src/database/entities/User.ts
  worker-server/src/database/service/object.service.ts
  worker-server/src/socket/socket.ts
  yarn.lock
Labels: frontend, backend, feature, fix
